CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_asus_rt-ac58u=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_asus_rt-acrh17=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_hiwifi_c526a=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_hiwifi_c526a-128m=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_netgear_ex6100v2=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_netgear_ex6150v2=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_netgear_ex6200v2=y
CONFIG_TARGET_DEVICE_ipq40xx_generic_DEVICE_p2w_r619ac=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_PACKAGE_kmod-multimedia-input=n
CONFIG_PACKAGE_kmod-qlcnic=n
CONFIG_PACKAGE_kmod-r8125=n
CONFIG_PACKAGE_kmod-r8168=n